@model aicupper.models.judge

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>judge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AICupperAccountID" class="control-label"></label>
                <input asp-for="AICupperAccountID" class="form-control" />
                <span asp-validation-for="AICupperAccountID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JudgeName" class="control-label"></label>
                <input asp-for="JudgeName" class="form-control" />
                <span asp-validation-for="JudgeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KnownAs" class="control-label"></label>
                <input asp-for="KnownAs" class="form-control" />
                <span asp-validation-for="KnownAs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsEnabled" /> @Html.DisplayNameFor(model => model.IsEnabled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
