<div class="container">
<h1>From Numbers to Grading Words</h1>
<p>Welcome to AI.CUPPER a Computacionally Intelligent Coffee Cupping Technology</p>
<div class="row col-sm-12">
    <div class="col-sm-2">
        <img class="card-img-top image_slider" [src]="aicupperlogo" alt="AI.CUPPER" />
     </div>
    <div class="col-sm-10 text-justify">
        <ul>
        <li><a href='https://get.asp.net/'>Click here</a> if you are interested in exploring this technology</li>
        <li><a href='https://angular.io/'>Log in</a> into my work space</li>
        <li><a href='http://getbootstrap.com/'>Request more information</a></li>
      </ul>
      </div>
     </div>
</div> 
